# Node
node_modules/
dist/
*.local
.env
.env.local

# MkDocs
docs/.venv/
docs/site/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.eggs/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db
